<mat-nav-list>
  <ng-container *ngFor="let item of menuItems">
    <!-- 有子菜单的情况 -->
    <mat-expansion-panel
      [expanded]="isPanelExpanded(item.id)"
      (expandedChange)="togglePanel(item.id)"
      [hideToggle]="!hasChildren(item)"
      class="mat-elevation-z0"
    >
      <mat-expansion-panel-header [ngClass]="'level-' + level">
        <mat-panel-title>
          <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
          <span>{{ item.title }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="submenu" *ngIf="hasChildren(item)">
        <app-recursive-menu [menuItems]="getChildMenuItems(item)" [level]="level + 1">
        </app-recursive-menu>
      </div>
    </mat-expansion-panel>

    <!-- 没有子菜单的情况 -->
    <a
      mat-list-item
      *ngIf="!hasChildren(item)"
      [routerLink]="item.link"
      routerLinkActive="active"
      [ngClass]="'level-' + level"
      appPermission="{{ item.permission }}"
    >
      <mat-icon *ngIf="item.icon" mat-list-icon>{{ item.icon }}</mat-icon>
      <span mat-line>{{ item.title }}</span>
    </a>
  </ng-container>
</mat-nav-list>
