:host {
  display: block;
  width: 100%;
}

.mat-expansion-panel {
  border-radius: 0 !important;
  box-shadow: none !important;
  background: transparent !important;

  &:not(.mat-expanded) {
    background: transparent !important;
  }
}

.mat-expansion-panel-header {
  padding: 0 16px;
  height: 48px !important;

  &:hover {
    background: rgba(0, 0, 0, 0.04) !important;
  }

  &.mat-expanded {
    height: 48px !important;
  }
}

.submenu {
  padding-left: 16px;
}

.level-0 {
  font-weight: 500;
}

.level-1 {
  font-size: 0.95em;
  
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}

.level-2 {
  font-size: 0.9em;
  
  .mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
}

.active {
  background: rgba(0, 0, 0, 0.04);
}

mat-nav-list {
  padding-top: 0;
}

.mat-expansion-panel-header-title {
  align-items: center;
  margin-right: 0;
  
  mat-icon {
    margin-right: 16px;
  }
}

a[mat-list-item] {
  height: 48px;
  
  &:hover {
    background: rgba(0, 0, 0, 0.04);
  }

  .mat-icon {
    margin-right: 16px;
  }
}

::ng-deep {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-expansion-panel-content {
    visibility: visible !important;
  }
} 