:host {
  display: block;
  height: 100vh;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
  background-color: #fafafa;
}

.content {
  padding: 20px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
} 